* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: lightPink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  min-height: 30%;
  max-height: 70%;
  overflow: auto;
  background: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 20px 10px 20px;
}

/* form styling start */

.container .input-form {
  width: 100%;
}

.container form {
  height: 30px;
  margin-top: 12px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3fr 1fr;
}
.container form input {
  outline: none;
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}
.container form button {
  height: 100%;
  width: 100%;
}

.container .input-form .error {
  color: red;
  margin-top: 10px;
}

/* form styling end */

/* list-items start */

.list-items {
  margin-top: 20px;
}

.list-items .card {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 1px solid lightgrey;
  position: relative;
}

.list-items .card button {
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

/* list-items end */

/* side options start */

.list-item {
  margin-bottom: 10px;
}

.list-item .ed {
  display: none;
}

.list-item .edit-submit {
  display: none;
}

.list-item .done-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-top: none;
  padding: 5px;
}

.list-item .done-section .done-btn {
  background: rgb(95, 167, 95);
  color: white;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.edit-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgrey;
  border-top: none;
  padding: 5px 0px 5px 0px;
}

.edit-delete button {
  padding: 5px 10px 5px 10px;
  background: transparent;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.edit-delete .edit {
  background: rgb(85, 88, 179);
}

.edit-delete .delete {
  background-color: salmon;
}

.dBlock {
  display: block;
}

.dIBlock {
  display: inline-block;
}
.dNone {
  display: none;
}

/* side options end */

/* .edit-input start */

.card .edit-input {
  display: none;
}

.card .cancel-btn {
  display: none;
}

/* .edit-input end */
